certifi==2020.4.5.1
cffi==1.14.0
Cython==0.28.2
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.1
olefile==0.46
pandas==1.0.3
Pillow==7.1.2
protobuf==3.12.1
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
six==1.14.0
tensorboardX==2.0
torch==1.2.0
torchvision==0.4.0a0
